@model OneClickSchoolSupply.Models.KitItem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>KitItem</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KitId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KitId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
